{{ define "index" }}
  <section id="upload" class="floating-section">
    <input type="file" id="picker" name="picker[]" multiple>
    <div id="drop-zone">
      <div class="progress-bar"></div>
      <div id="drop-zone-text">Click/tap/drop/paste</div>
    </div>
    <div id="uploaded-urls">
      <ul></ul>
    </div>
  </section>
  <script>window.addEventListener('load', setupUploader, false);</script>
{{ end }}
