{{ define "index" }}
  <section id="upload" class="floating-section">
    <input type="file" id="picker" name="picker[]" multiple>
    <div id="drop-zone">
      <div class="progress-bar"></div>
      <div id="drop-zone-text">Click/tap/drop/paste</div>
    </div>
    <div id="uploaded-urls">
      <ul></ul>
    </div>
  </section>
  <script>window.addEventListener('load', setupUploader, false);</script>
{{ end }}

{{ define "default-index" }}
<!doctype html>
<html>
  <head>
    <title>Airlift</title>
    {{ template "head" }}
  </head>
  <body>
    <section id="front">
      <div id="big-logo">
        <div id="big-logo-text">{{ $.Config.Host }} is powered by <a href="https://github.com/moshee/airlift">Airlift</a>.</div>
      </div>
      <div class="login-link"><a href="/-/login">Log in</a></div>
    </section>
  </body>
</html>
{{ end }}
