{{ define "login" }}<!doctype html>
<html>
  <head>
    <title>Log in</title>
    {{ template "head" }}
  </head>
  <body>
    <section id="section-login" class="floating-section">
      <form method="post" action="/-/login" id="login">
        {{ if . }}<p id="message-box" class="bad active">Incorrect password.</p>{{ end }}
        <label for="password">Password: </label><input name="pass" id="password" type="password" placeholder="password" autofocus required>
        <hr>
        <button type="submit" id="submit">Log in</button>
      </form>
    </section>
  </body>
</html>
{{ end }}
