* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*::selection {
	background: #c64;
	color: #fff;
}
*::-moz-selection {
	background: #c64;
	color: #fff;
}

html {
	width: 100%;
	height: 100%;
	background: #fafafa;
}
body {
	padding: 64px;
	font-family: clear sans,sans-serif;
}
#nav {
	text-align: center;
	width: 100%;
	margin-bottom: 16px;
	font-size: 16px;
}
.floating-section {
	margin: 0 auto 16px;
	width: 512px;
	padding: 32px;
	background: #fff;
	position: relative;
	border: 3px solid #eee;
}
section h1 {
	text-transform: uppercase;
	font-size: 20px;
	color: #888;
	margin-bottom: 16px;
}
a, a:visited {
	color: #a42;
}
a:hover {
	color: #c64;
}
hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 16px 0;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	padding: 8px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	background: #eaeaea;
	color: #444;
	font-family: clear sans,sans-serif;
	margin-right: 8px;
	outline: 0;
}
button:hover {
	background: #c64;
	color: #fff;
}
button:active {
	background: #a42;
	color: #fff;
}
label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	color: #666;
}
input[type=text], input[type=password], input[type=number], select {
	width: 100%;
	padding: 8px;
	margin: 8px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: #fafafa;
	font-family: clear sans,sans-serif;
	font-size: 18px;
	color: #444;
	border: 1px solid #ccc;
}
.checkbox {
	margin-bottom: 8px;
}
input[type="checkbox"] + label {
	display: inline-block;
	line-height: 20px;
}
input[type=checkbox] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: 4px;
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 2px;
	vertical-align: bottom;
}
input[type=checkbox]:checked {
	background: #888;
	border-color: #000;
}
input[type=checkbox]:checked:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "✓";
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	width: 18px;
	text-align: center;
	color: #f0f0f0;
}
input:focus, select:focus {
	outline: none;
	border: 2px solid #888;
	margin: 7px -1px;
	padding-right: 7px;
}
input[type=checkbox]:focus {
	margin: -1px 3px -1px -1px;
	width: 22px;
	height: 22px;
	padding-right: 0;
}

/*** Range input ***/

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 8px 0;
}

input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }

input[type=range]:focus {
	outline: none !important;
	border: none !important;
	margin: 8px 0;
	padding: 0;
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -1px;
}

input[type=range]::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-shadow: 0 -1px 2px #eee inset;
	background: #fff;
}
input[type=range]::-ms-thumb {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-shadow: 0 -1px 2px #eee inset;
	background: #fff;
}
input[type=range]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-shadow: 0 -1px 2px #eee inset;
	background: #fff;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: #fafafa;
	border-radius: 8px;
	border: 1px solid #ccc;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: #fafafa;
	border-radius: 8px;
	border: 1px solid #ccc;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: #fafafa;
	border-radius: 8px;
	border: 1px solid #ccc;
}

input[type=range]:focus::-webkit-slider-runnable-track { background: #eee; }
input[type=range]:focus::-ms-track { background: #eee; }

input[type=range]:focus::-ms-fill-upper,
input[type=range]::-ms-fill-lower,
input[type=range]:focus::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: transparent;
}

.box {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 8px;
}
.box[data-tooltip]::before {
	z-index: 9;
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	font-size: 12px;
	background: #fff;
	color: #444;
	border-radius: 2px;
	border: 1px solid #ccc;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
	padding: 8px;
	width: 256px;
}
.box[data-tooltip]:hover::before {
	display: block;
}
.box[data-tt-pos=left]::before {
	right: 100%;
	margin-right: 16px;
}
.box[data-tt-pos=right]::before {
	left: 100%;
	margin-left: 16px;
}
.box[data-tt-pos=top]::before {
	left: 50%;
	margin-left: -128px;
	bottom: 100%;
	margin-bottom: 16px;
}
.box.check-enable small {
	display: block;
	position: absolute;
	padding-top: 15px;
	padding-left: 30px;
}
.hidee {
	float: right;
	width: 200px;
}
.hider:not(:checked) ~ .hidee * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0.2;
}
#host-box {
	width: 280px;
}
#id-box {
	width: 125px;
	font-size: 18px;
	color: #888;
}
.col3 {
	width: 123px;
	margin-right: 32px;
}
* > .col3:nth-of-type(3n) {
	margin-right: 0;
}

#sample-ext {
	display: none;
}
#sample-ext.show {
	display: inline;
}

#message-box {
	padding: 16px;
	position: fixed;
	top: -64px;
	width: 512px;
	text-align: center;
	left: 50%;
	margin-left: -256px;
	transition: top 0.5s cubic-bezier(0, 0.8, 0.2, 1);
	z-index: 9999;
}
#message-box.active {
	top: 16px;
}
#message-box.bad {
	background: #fee;
	color: #800;
}
#message-box.good {
	background: #eef4ee;
	color: #444;
}
#message-box:before {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	margin-right: 8px;
	font-weight: 900;
}
#message-box.good:before {
	content: "✓";
	color: #080;
	border-color: #4c4;
}
#message-box.bad:before {
	content: "!";
	font-family: georgia, serif;
	font-style: italic;
	color: #800;
	border-color: #c44;
}
#twitter-card--hidden {
	margin-top: 8px;
	display: none;
}
input#twitter-card:checked ~ #twitter-card--hidden {
	display: block;
}

#history {
	padding: 64px;
}

#history ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	-webkit-display: flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: center;
	-webkit-align-content: flex-start;
	-webkit-align-items: flex-start;
}

.history-item {
	display: inline-block;
	padding: 16px;
	transition: opacity;
	transition-duration: 0.5s;
}
.upload-link {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
}
.upload-link img {
	display: block;
	margin: 0 auto;
}
.upload-link .file-ext-overlay {
	position: relative;
	display: inline-block;
	background: #c64;
	padding: 0 6px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	bottom: 36px;
	font-weight: 700;
}
.history-item-name {
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.history-item-data {
	color: #888;
	font-size: 12px;
}
.delete-upload {
	color: #888;
}

#upload-form.active {
	border: 4px solid #c64;
	margin: -4px;
}
#picker {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
#drop-zone {
	height: 128px;
	position: relative;
	border: 4px dashed #aaa;
	color: #888;
	cursor: pointer;
}
#drop-zone-text {
	position: absolute;
	height: 120px;
	width: 100%;
	line-height: 120px;
	font-size: 20px;
	text-align: center;
	z-index: 9;
}
#drop-zone.active {
	border: 4px solid #c64;
	background: #fa8;
	color: #fff;
}
#drop-zone svg {
	width: 100%;
	height: 128px;
}
#drop-zone svg line {
	stroke: #c64;
	stroke-width: 2;
}
.progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;
	background: #c64;
	z-index: 1;
}
#uploaded-urls {
	display: none;
	margin-top: 32px;
	text-align: center;
}
#uploaded-urls.active {
	display: block;
}
#uploaded-urls ul {
	list-style-type: none;
}
#uploaded-urls ul a {
	font-size: 20px;
	line-height: 32px;
}
.pagination {
	text-align: center;
	margin: 32px;
}
.prevnext {
	visibility: hidden;
}
.prevnext.active {
	visibility: visible;
}

#front {
	text-align: center;
}
#big-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 512px;
	color: #aaa;
	font-size: 32px;
	font-weight: 300;
	background: url('/-/static/airlift.svg') center no-repeat;
}

.login-link a {
	color: #ddd;
}

#version {
	font-size: 12px;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 768px) {
	body {
		padding: 32px 0;
	}
	.floating-section {
		width: 100%;
		border-left: none;
		border-right: none;
		padding: 16px;
	}
	.box {
		width: 100% !important;
		margin-right: 0 !important;
		margin-bottom: 16px;
	}
	#history {
		padding: 8px;
	}
	.history-item {
		padding: 16px 8px;
	}
	.box[data-tooltip]:hover::before {
		display: none !important;
	}
	#message-box {
		width: 100%;
		margin: 0;
		left: 0;
	}
	#message-box.active {
		top: 0;
	}
	input[type=checkbox] {
		float: right;
	}
	.box.check-enable small {
		display: inline;
		position: relative;
	}
	.hider, .hider + label {
		margin-bottom: 16px;
	}
	.hidee {
		float: none;
		width: 100%;
	}
	#big-logo {
		font-size: 22px;
		height: 256px;
		background-size: contain;
	}
}
@media screen and (max-width: 320px) {
	#history {
		padding: 0 0 0 40px;
	}
	.history-item {
		width: 136px;
		padding: 0 40px 16px 0;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2), /* safari */
only screen and (min-device-pixel-ratio: 2), /* old version */
only screen and (min-resolution: 192dpi), /* IE 9..11 and opera mini */
only screen and (min-resolution: 2dppx) {  /* compliant */
	input[type=range]::-webkit-slider-thumb {
		width: 24px;
		height: 24px;
		border-radius: 12px;
	}
	input[type=range]::-ms-thumb {
		width: 24px;
		height: 24px;
		border-radius: 12px;
	}
	input[type=range]::-moz-range-thumb {
		width: 24px;
		height: 24px;
		border-radius: 12px;
	}

	input[type=range]::-webkit-slider-runnable-track {
		height: 24px;
		border-radius: 12px;
	}
	input[type=range]::-moz-range-track {
		height: 24px;
		border-radius: 12px;
	}
	input[type=range]::-ms-track {
		height: 24px;
		border-radius: 12px;
	}
	input[type="checkbox"] + label {
		line-height: 32px;
	}
	input[type=checkbox] {
		width: 32px;
		height: 32px;
		border-radius: 3px;
	}
	input[type=checkbox]:checked:after {
		font-size: 28px;
		line-height: 30px;
		width: 30px;
	}
}
