{{ define "title" }} • Configure{{ end }}

{{ define "content" }}
  {{ template "%overview" . }}
  {{ template "%config" . }}
  <script src="/-/static/common.js"></script>
  <script src="/-/static/config.js"></script>
{{ end }}

{{ define "%config" }}
{{ with $.Data.Data }}
  <section id="section-config" class="floating-section">
    <h1>Configuration</h1>
    <form id="config" autocomplete="off">
      <div class="box" id="host-box" data-tooltip="Returned file links will begin with this domain and path." data-tt-pos="top">
        <label for="host">Base URL</label>
        <input type="text" id="host" name="host" value="{{ .Conf.Host }}" placeholder="i.example.com">
      </div>
      <div class="box" id="id-box">
        /<span id="sample-id"></span><span id="sample-ext">.ext</span>
      </div>
      <div class="box">
        <label for="id-size">Length of File ID</label>
        <input type="range" id="id-size" name="id-size" min="2" max="12" value="{{ .Conf.HashLen }}">
      </div>
      <div class="box checkbox" data-tooltip="Enable to append the original file extension to returned links." data-tt-pos="left">
        <input type="checkbox" id="append-ext" name="append-ext"{{ if .Conf.AppendExt }} checked{{ end }}>
        <label for="append-ext">Append File Extensions</label>
      </div>
      <div class="box check-enable">
        <input type="checkbox" class="hider" id="enable-age-prune" name="enable-age-prune"{{ if .Conf.MaxAgeEnable }} checked{{ end }}>
        <label for="enable-age-prune">Limit Upload Age</label>
        <div class="hidee">
          <label for="max-age">Maximum Age (Days)</label>
          <input type="number" id="max-age" name="max-age" value="{{ .Conf.Age }}" min="0"{{ if not .Conf.MaxAgeEnable }} disabled{{ end }}>
        </div>
      </div>
      <div class="box check-enable">
        <input type="checkbox" class="hider" id="enable-size-prune" name="enable-size-prune"{{ if .Conf.MaxSizeEnable }} checked{{ end }}>
        <label for="enable-size-prune">Limit Total Uploads Size</label>
        <div class="hidee">
          <label for="max-size">Maximum Size (MB)</label>
          <input type="number" id="max-size" name="max-size" value="{{ .Conf.Size }}" min="0"{{ if not .Conf.MaxSizeEnable }} disabled{{ end }}>
        </div>
      </div>
      <div class="box check-enable" data-tooltip="Enable to allow uploads to show Twitter Cards with file previews if applicable." data-tt-pos="left">
        <input type="checkbox" class="hider" id="twitter-card" name="twitter-card"{{ if .Conf.TwitterCardEnable }} checked{{ end }}>
        <label for="twitter-card">Enable Twitter Cards</label>
        <div class="hidee">
          <label for="twitter-handle">Twitter Handle</label>
          <input type="text" id="twitter-handle" name="twitter-handle" value="{{ .Conf.TwitterHandle }}" required placeholder="@handle"{{ if not .Conf.TwitterCardEnable }} disabled{{ end }}>
        </div>
      </div>
      <div class="box check-enable" data-tooltip="Enable to format code text files with syntax highlighting." data-tt-pos="left">
        <input type="checkbox" class="hider" id="syntax-enable" name="syntax-enable"{{ if .Conf.SyntaxEnable }} checked{{ end }}>
        <label for="syntax-enable">Syntax Highlighting</label>
        <small>
          <a href="https://xyproto.github.io/splash/docs/" target="_blank">View theme examples</a>
        </small>
        <div class="hidee">
          <label for="syntax-theme">Syntax Theme</label>
          <select id="syntax-theme" name="syntax-theme">
            {{ range .SyntaxThemes }}
              <option value="{{ . }}" {{ if eq . $.Data.Data.Conf.SyntaxTheme }} selected {{ end }} >{{ . }}</option>
            {{ end }}
          </select>
        </div>
      </div>
      <div class="box" id="directory-box">
        <label for="directory">Upload Directory</label>
        <input type="text" id="directory" name="directory" value="{{ .Conf.Directory }}" placeholder="/home/user/uploads">
      </div>
      <div class="box" id="newpass-box" data-tooltip="Enter a new password here to change your password." data-tt-pos="right">
        <label for="newpass">New Password</label>
        <input type="password" id="newpass" name="newpass" placeholder="••••••••">
      </div>
      <div class="box" id="newpass-confirm-box" data-tooltip="Confirm new password" data-tt-pos="left">
        <label for="newpass-confirm">Confirm New Password</label>
        <input type="password" id="newpass-confirm" name="newpass-confirm" required placeholder="••••••••">
      </div>
      <button id="submit" type="button">Update configuration</button>
    </form>
  </section>
{{ end }}
{{ end }}

{{ define "%overview" }}
{{ with $.Data.Data }}
  <section id="section-overview" class="floating-section">
    <h1>Overview</h1>
    <p><strong><a href="/-/history/0">{{ .NumUploads }} upload{{ if ne .NumUploads 1 }}s{{ end }}</a></strong> totalling <strong>{{ .UploadsSize }}</strong>. (<a id="purge-all-link" href="javascript:void(0)">purge</a>)</p>
    <p>Thumbnail cache is <strong>{{ .ThumbsSize }}</strong>. (<a id="purge-thumbs-link" href="javascript:void(0)">purge</a>)</p>
  </section>
{{ end }}
{{ end }}
