{{ define "content" }}
    <section id="front">
      <div id="big-logo">
        <div id="big-logo-text">{{ $.Data.Config.Host }} is powered by <a href="https://github.com/moshee/airlift">Airlift</a>.</div>
      </div>
      <div class="login-link"><a href="/-/login">Log in</a></div>
    </section>
{{ end }}
