{{ define "head" }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/-/static/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/-/static/airlift_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/-/static/airlift_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/-/static/airlift_152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/-/static/airlift_180x180.png">
    <link rel="stylesheet" href="/-/static/style.css">
{{ end }}

{{ define "layout-full" }}
<html>
  <head>
    <title>Airlift{{ block "title" . }}{{ end }}</title>
    {{ template "head" }}
  </head>
  <body>
    <div id="message-box"></div>
    <nav id="nav">
      <a href="/">Upload</a> /
      <a href="/-/history/1">History</a> /
      <a href="/-/config">Configure</a> /
      <a href="/-/logout">Log out</a>
    </nav>
    {{ block "content" $ }}{{ end  }}
    <div id="version">airliftd {{ $.Data.Version }}</div>
  </body>
</html>
{{ end }}

{{ define "layout-lite" }}
<html>
  <head>
    <title>Airlift{{ block "title" . }}{{ end }}</title>
    {{ template "head" }}
  </head>
  <body>
    {{ block "content" $ }}{{ end  }}
  </body>
</html>
{{ end }}

{{ define "layout-syntax" }}
<html>
<head>
  <title>{{ block "title" . }}{{ end }}</title>
  <link rel="stylesheet" href="/-/static/syntax.css">
  <link rel="stylesheet" href="/-/theme/{{ .Data.Data.SyntaxTheme }}.css">
</head>
<body class="syntax chroma">
  <a href="?raw=1" class="raw">{{ $.Data.Data.Filename }}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></a>
  {{ block "content" . }}{{ end }}
</body>
{{ end }}
