* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*::selection {
	background: #c64;
	color: #fff;
}

html {
	width: 100%;
	height: 100%;
	background: #fafafa;
}
body {
	padding: 64px;
	font-family: clear sans,sans-serif;
}
.error {
	text-align: center;
	color: #aaa;
	margin: 64px 0;
	padding: 0 32px;
}
.error h1 {
	color: #444;
}
#nav {
	text-align: center;
	width: 100%;
	margin-bottom: 16px;
}
.floating-section {
	margin: 0 auto 16px;
	width: 512px;
	padding: 32px;
	background: #fff;
	position: relative;
	border: 3px solid #eee;
}
section h1 {
	text-transform: uppercase;
	font-size: 20px;
	color: #888;
	margin-bottom: 16px;
}
a, a:visited {
	color: #a42;
}
a:hover {
	color: #c64;
}
hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 16px 0;
}
#help {
	-webkit-user-select: none;
	cursor: help;
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	border-left: 3px solid #eee;
	border-bottom: 3px solid #eee;
	line-height: 32px;
	text-align: center;
	font-weight: 700;
	color: #008;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 8px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	background: #eaeaea;
	color: #444;
	font-family: clear sans,sans-serif;
	margin-right: 8px;
	outline: 0;
}
button:hover {
	background: #c64;
	color: #fff;
}
button:active {
	background: #a42;
	color: #fff;
}
label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	color: #666;
}
input[type=text], input[type=password], input[type=number] {
	width: 100%;
	padding: 8px;
	margin: 8px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: #fafafa;
	font-family: clear sans,sans-serif;
	font-size: 18px;
	color: #444;
	border: 1px solid #ccc;
}
.checkbox {
	margin-bottom: 8px;
}
.checkbox label {
	display: inline-block;
	line-height: 20px;
}
input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: 4px;
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 2px;
	vertical-align: bottom;
}
input[type=checkbox]:checked {
	background: #f0f0f0;
}
input[type=checkbox]:checked:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "✓";
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	width: 18px;
	text-align: center;
	color: #444;
}
input:focus {
	outline: none;
	border: 2px solid #888;
	margin: 7px -1px;
	padding-right: 7px;
}
input[type=checkbox]:focus {
	margin: -1px 3px -1px -1px;
	width: 22px;
	height: 22px;
	padding-right: 0;
}
.box {
	display: inline-block;
	position: relative;
	width: 100%;
}
.box[data-tooltip]::before {
	z-index: 9;
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	font-size: 12px;
	background: -webkit-linear-gradient(#fff, #fafafa);
	color: #444;
	border-radius: 2px;
	border: 1px solid #ddd;
	padding: 8px;
	width: 256px;
}
.box[data-tooltip]:hover::before, #help:hover ~ .box[data-tooltip]::before {
	display: block;
}
.box[data-tt-pos=left]::before {
	right: 100%;
	/*bottom: 0;*/
	/*margin-top: 50%;*/
	margin-right: 16px;
}
.box[data-tt-pos=right]::before {
	left: 100%;
	/*bottom: 0;*/
	margin-left: 16px;
	/*margin-top: 50%;*/
}
.box[data-tt-pos=top]::before {
	left: 50%;
	margin-left: -128px;
	bottom: 100%;
	margin-bottom: 16px;
}
#host-box {
	width: 325px;
	margin-right: 32px;
}
#port-box {
	width: 80px;
}
#max-age-box {
	width: 202px;
	margin-right: 32px;
}
#max-size-box {
	width: 203px;
}
#message-box {
	margin-bottom: 16px;
	padding: 16px;
}
#message-box.bad {
	background: #fee;
	color: #800;
}
#message-box.good {
	background: #eef4ee;
	color: #444;
}
#message-box:before {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	margin-right: 8px;
	font-weight: 900;
}
#message-box.good:before {
	content: "✓";
	color: #080;
	border-color: #4c4;
}
#message-box.bad:before {
	content: "!";
	font-family: georgia, serif;
	font-style: italic;
	color: #800;
	border-color: #c44;
}

#history {
	padding: 64px;
}

#history ul {
	list-style-type: none;
}

.history-item {
	display: inline-block;
	padding: 16px;
	transition: opacity;
	transition-duration: 0.5s;
}
.upload-link {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
}
.upload-link img {
	display: block;
	margin: 0 auto;
}
.upload-link .file-ext-overlay {
	position: relative;
	display: inline-block;
	background: #c64;
	padding: 0 6px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	bottom: 36px;
	font-weight: 700;
}
.history-item-name {
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.history-item-data {
	color: #888;
	font-size: 12px;
}
.delete-upload {
	color: #888;
}

#upload-form.active {
	border: 4px solid #c64;
	margin: -4px;
}
#picker {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
#drop-zone {
	height: 128px;
	position: relative;
	border: 4px dashed #aaa;
	color: #888;
	cursor: pointer;
}
#drop-zone-text {
	position: absolute;
	height: 120px;
	width: 100%;
	line-height: 120px;
	font-size: 20px;
	text-align: center;
	z-index: 9;
}
#drop-zone.active {
	border: 4px solid #c64;
	background: #fa8;
	color: #fff;
}
#drop-zone svg {
	width: 100%;
	height: 128px;
}
#drop-zone svg line {
	stroke: #c64;
	stroke-width: 2;
}
.progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;
	background: #c64;
	z-index: 1;
}
#uploaded-urls {
	display: none;
	margin-top: 32px;
	text-align: center;
}
#uploaded-urls.active {
	display: block;
}
#uploaded-urls ul {
	list-style-type: none;
}
#uploaded-urls ul a {
	font-size: 20px;
	line-height: 32px;
}

@media screen and (max-width: 600px) {
	body {
		padding: 64px 0;
	}
	.floating-section {
		width: 100%;
		border-left: none;
		border-right: none;
		padding: 16px;
	}
	.box {
		width: 100% !important;
		margin-right: 0 !important;
	}
	#help {
		display: none;
	}
	#history {
		padding: 8px;
	}
	.pagination {
		text-align: center;
		margin: 0 32px 16px 0;
	}
	.box[data-tooltip]:hover::before, #help:hover ~ .box[data-tooltip]::before {
		display: none !important;
	}
}
@media screen and (max-width: 320px) {
	#history {
		padding: 0 0 0 40px;
	}
	.history-item {
		width: 136px;
		padding: 0 40px 16px 0;
	}
}
