{{ define "common" }}<!doctype html>
<html>
  <head>
    <title>Airlift</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
  </head>
  <body>
    <nav id="nav">
      <a href="/">Upload</a> /
      <a href="/history/0">History</a> /
      <a href="/config">Configure</a> /
      <a href="/logout">Log out</a>
    </nav>
    {{ content }}
  </body>
</html>
{{ end }}
